*.pdf
!physchem_de.pdf
!physchem_en.pdf
!physchem_hu.pdf
!fizkem.pdf
physchem.aux
physchem.bbl
physchem.blg
physchem.lof
physchem.log
physchem.lot
physchem.toc
physchem.out
*.log
*.dep
*.md5
*.dpth
*.auxlock
